.base-input {
  display: block;
}

.base-input__data {
  position: relative;
  display: block;
}

.base-input--required {
  .base-input__value {
    padding-right: 15px;
  }

  .base-input__required-icon {
    display: block;
  }
}

.base-input--error {
  .base-input__value {
    border-bottom-color: var(--danger-color);
  }

  .base-input__message {
    display: block;
  }
}

.base-input--with-button {
  padding-right: 65px;
}

.base-input__label {
  font-size: 0.75rem;
  line-height: 1.167;
  color: var(--secondary-color);
}

.base-input__value {
  display: block;
  width: 100%;
  padding: 5px 0 10px;
  font-size: 1rem;
  line-height: 1.19;
  color: var(--primary-dark-color);
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  box-sizing: border-box;

  &::placeholder {
    color: var(--primary-dark-color);
  }

  &:focus {
    border-bottom-color: var(--primary-dark-color);
  }
}

.base-input__required-icon {
  position: absolute;
  display: none;
  right: 0;
  width: 6px;
  height: 6px;
  fill: var(--danger-color);
  bottom: 16px;
}

.base-input__message {
  display: none;
  color: var(--danger-color);
  font-size: .75rem;
  line-height: 1.67;
}