// Inject svg sprite to html
script(src="js/load-svg-sprite.js")
// Inject svg sprite to html

// Libraries
script(src="js/jquery.js")
script(src="js/slick.js")
script(src="js/selectize.js")
script(src="js/jquery.mask.js")
script(src="js/ion.rangeSlider.js")
// Libraries

// Components
script(src="js/home-slider.js")
script(src="js/nav-categories.js")
script(src="js/nav-categories-dropdown.js")
script(src="js/modal.js")
script(src="js/catalog-header.js")
script(src="js/catalog-filter.js")
script(src="js/base-tabs.js")
script(src="js/base-input.js")
script(src="js/base-search.js")
script(src="js/base-small-select.js")
script(src="js/base-select.js")
script(src="js/product-slider.js")
script(src="js/product-kit.js")
script(src="js/product-preview.js")
script(src="js/product-photo-widget.js")
script(src="js/product-gift-slider.js")
script(src="js/profile.js")
script(src="js/init.js")
// Components
